.ref {height: 100%;
    background-color: #19d3f459; 
    border: 1px solid #03abcd; 
    border-radius: 8px; 
    padding: 20px; 
    /* text-align: center;  */
  }
  .ref_h{color: rgba(252, 252, 252, 0.998);
    text-shadow: 
    0 0 1px #00ffff, /* Голубое свечение */
    0 0 1px #00ffff, 
    0 0 1px #00ffff, 
    0 0 2px #ff00ff, /* Розовое свечение */
    0 0 2px #ff00ff, 
    0 0 3px #ff00ff;}
  .ref_link {
    height: 6%;
    padding-left: 5%;
    width: 100%;
    font-size: 18px; /* Размер шрифта */
    color: #00fee9; /* Цвет текста */
    margin-bottom: 15px; /* Отступ снизу */
    word-break: break-all; /* Перенос длинных ссылок */
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8); /* Тень */
    animation: blink 3s infinite; /* Применение анимации мерцания */
  }
  
  .ref_btn {width: 100%;
    font-size: 16px;
    font-weight: bolder;
    background-color: #00fbff; /* Цвет кнопки */
    color: rgba(248, 248, 248, 0.634); /* Цвет текста кнопки */
    border: none; /* Без границы */
    border-radius: 5px; /* Скругление углов кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    transition: background-color 0.3s; /* Плавный переход цвета */
    text-shadow: 
    0 0 1px #00ffff, /* Голубое свечение */
    0 0 1px #00ffff, 
    0 0 1px #00ffff, 
    0 0 2px #ff00ff, /* Розовое свечение */
    0 0 2px #ff00ff, 
    0 0 3px #ff00ff;
    animation: neon 2.5s infinite alternate;
  }
  
 
  
  .ref_line {
    margin-top: 20px; 
    font-weight: bold; 
  }
  
  .ref_enemy {
    color: #eeeeee; 
    text-shadow: 
    0 0 1px #00ffff, /* Голубое свечение */
    0 0 1px #00ffff, 
    0 0 1px #00ffff, 
    0 0 2px #ff00ff, /* Розовое свечение */
    0 0 2px #ff00ff, 
    0 0 3px #ff00ff;
  }
  .ref_reward{
    padding-top: 10px;
    color:#f0f5f5;
    text-shadow: 
    0 0 1px #00ffff, /* Голубое свечение */
    0 0 1px #00ffff, 
    0 0 1px #00ffff, 
    0 0 2px #ff00ff, /* Розовое свечение */
    0 0 2px #ff00ff, 
    0 0 3px #ff00ff;
  }
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  @keyframes neon {
    0%, 100% {
      box-shadow: 0 0 3px #00fbff, 0 0 8px #aa00ff, 0 0 15px #c300ff, 0 0 17px #00fbff, 0 0 20px #d000ff, 0 0 25px #00fbff;
    }
    50% {
      box-shadow: 0 0 7px #00fee9, 0 0 15px #00fee9, 0 0 20px #00fee9, 0 0 25px #00fee9, 0 0 30px #00fee9, 0 0 35px #00fee9;
    }
  }